.slide-container {
  /* 이미지를 담고 있는 가장 큰 div를 이미지의 갯수만큼 width를 넓혀준다. */
  width: 300vw;
  /* transition: all 0.2s; */
}
.slide-box {
  /* 300vw에 이 박스가 3개 들어가도록 width를 설정해주고, float은 왼쪽으로 지정해주었다. */
  width: 100vw;
  float: left;
}
.slide-box img {
  /* 이미지 크기를 화면에 딱 맞게 설정해주었다. */
  width: 100%;
}
